@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

html,
body,
:root {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  overflow-x: hidden;
}

.paddingX {
  padding-right: calc(5rem - 100vw + 100%);
  padding-left: calc(5rem - 100vw + 100%);
}

@media (max-width: 590px) {
  .paddingX {
    padding-right: calc(2rem - 100vw + 100%);
    padding-left: calc(2rem - 100vw + 100%);
  }
}